<html>
<head>
  <title>SP/\CE</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>

<div class="ui two column centered grid" style="margin-top:50px;">
  <div class="column">
    <div class="ui segment">
      <a class="ui green ribbon label">Space SMS Status</a>
      <span style="float:right;font-weight:600;">Online</span>

    <!--  <p></p>
      <a class="ui blue ribbon label">Community</a> User Reviews
      <p></p>-->
    </div>

  </div>
  <!--
  <div class="two column centered row">
    <div class="column">
      <div class="ui segment">
        <a class="ui orange right ribbon label">Specs</a>
        <p></p>
        <a class="ui teal right ribbon label">Reviews</a>
        <p></p>
      </div>
    </div>

  </div>
</div>


  <div class="ui two column grid">
  <div class="column">
    <div class="ui raised segment">
      <a class="ui red ribbon label">Overview</a>
      <span>Account Details</span>
      <p></p>
      <a class="ui blue ribbon label">Community</a> User Reviews
      <p></p>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <a class="ui orange right ribbon label">Specs</a>
      <p></p>
      <a class="ui teal right ribbon label">Reviews</a>
      <p></p>
    </div>
  </div>
  -->
</div>

</body>
</html>
